{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoApp</title>
    <!-- CSS Import  -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- End of CSS Import -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
	<!-- End of Fonts -->
</head>
<body>
    {% block content %}
    <!-- App Wrapper -->
    <main class="">
        <!-- Salutation -->
        <section class="">
            <h2 class="">
                Comment allez-vous,
            </h2>
        </section>
        <!-- Fin de salutation -->

        <!-- Nouvelle tâche -->
        <section class="">
            <h3>CREATE TODO</h3>
            <form action="{% url 'add' %}" method="POST" role="form" class="" id="todo-form">
                {% csrf_token %}
                <h4>Que voulez-vous ajouter à votre liste de tâches ?</h4>
                {{ form }}
                <!--h4>Choisissez la catégorie</h4-->
                <input type="submit" value="Add todo" />
            </form>
        </section>
        <!-- End of New TodoList -->

        <!-- TodoList -->
        <section class="">
            <h3>Liste des tâches</h3>
            <div class="" id="todo-list">
                {% for todo in todo_list %}
                {% if todo.checked %}
                <label class="">{{ todo.task }}</label>
                {% else %}
                <label class="">{{ todo.task }} |
                <a href="{% url 'update_todo' todo.id %}">Modifier</a>
                </label>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <!-- End of TodoList -->

        <section class="">
            <div class="" id="delete_complete">
                <a href="{% url 'delete_complete' %}">
                    <button type="button" class="">
                    <i class=""></i>SUPPRIMER LES TACHES TERMINEES
                    </button>
                </a>

            </div>
        </section>

        <section class="">
            <div class="" id="delete_all">
                <a href="{% url 'delete_all' %}">
                    <button type="button" class="">
                        <i class=""></i>SUPPRIMER TOUTES LES TACHES
                    </button>
                </a>
            </div>
        </section>
        {% endblock %}
        <!-- End of TodoList -->

</main>
<!-- End of Wrapper -->

<!-- JS Import -->

<!-- End of JS Import -->

</body>
</html>